body{
    font-family: 'Raleway', sans-serif;
}

.no-scroll
{
    overflow-x: hidden;
}

.Logo
{
    width: 270px;
    height: 90px;
}

/*================================================*/
/*======             NAVBAR             ======*/
/*================================================*/

p.contact{
    font-size:18px; 
    color:#23a098; 
    font-weight:bold; 
    line-height: 35px
}

p.numero{
    font-size:22px; 
    color:#7d807a; 
    font-weight:italic;
}

.enlace-bdpa
{
    color:#23A098;
    font-size:14px
}
.enlace-bdpa:hover
{
    color: #23A098;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
}

.enlace-bdp
{
    color: black;
    font-size:14px
}
.enlace-bdp:hover
{
    color: #23A098;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
}
/*================================================*/
/*======             CARROUSEL             ======*/
/*================================================*/

.img-carrusel{
    height: 500px;
}


/*================================================*/
/*======             OUR COMPANY           ======*/
/*================================================*/
.rectangulo-verde {
    width: 100%;
    height: 100%;
    background: #23A098;
}

.triangulo-verde-inferior {
    width: 0;
    height: 0;
    border-top: 60px solid #23A098;
    border-right: 50vw solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 50vw solid transparent;
    margin-top: 0;
    
}

/*================================================*/
/*======          SECCION DESCRIPCION       ======*/
/*================================================*/
.rectangulo2 {
    width: 100%;
    height: 100%;
    background: #f1f3EE;
}

.rectangulo-rojo-servicio {
    width: 100%;
    height: 250px;
    background: #BB0823;
}

.img-2
{
    width: 100%;
    height: 250px;
}


/*================================================*/
/*======          SECCION REMODELING        ======*/
/*================================================*/
.ribbon-superior {
    width: 0;
    height: 0;
    border-top: 60px solid #ffffff;
    border-right: 50vw solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 50vw solid transparent;
}

.rectangulo-remodeling {
    width: 100%;
    height: 100%;
    background: #f1f3EE;
}

.img-card-remodeling{
    height: 15em;
    width: 100%;
}

.card-remodeling{
    width: 16rem;
}

.ribbon-inferior {
    width: 0;
    height: 0;
    border-top: 60px solid #f1f3EE;
    border-right: 50vw solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 50vw solid transparent;
}

.titulo{
    font-weight:bold;
    font-size: 16px;
    color: #000000;
    margin-bottom: 2;
}

.enlace-remo
{
    color: black;
    font-size:16px;
}
.enlace-remo:hover
{
    font-size:16px;
    color: #23A098;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
    
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
/*================================================*/
/*======                FIN                 ======*/
/*================================================*/
